<!-- <ion-header>
  <ion-toolbar>
    <ion-title>ajout-site</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-icon class="ARROW" name="arrow-back-outline"></ion-icon>
  <ion-icon class="search" name="search-outline"></ion-icon>
  <ion-icon class="regle" name="options-outline"></ion-icon>
  <h1>Remplis le formulaire pour l'ajout <br> de votre site</h1>
  <ion-label class="label">Nom</ion-label>
  <ion-input class="input" type="text" placeholder="Veiller donner le nom de votre Site"></ion-input>
  <!-- <ion-label class="label">Titre</ion-label>
  <ion-input class="input" type="text" placeholder="Titre de l'annonce"></ion-input> -->
  <ion-label class="label">Date</ion-label>
  <ion-input class="input" type="Date" placeholder="Samedi, 30 decembre"></ion-input>

  <ion-card class="css">
    <p class="statistique">Les Statistiques</p>
    <ion-label class="label1">Abonnés</ion-label>
    <ion-input class="input1" type="number" placeholder="">1.6M</ion-input>

    <ion-label class="label2">Visiteurs</ion-label>
    <ion-input class="input2" type="number" placeholder="">1.6M</ion-input>
    
    <ion-label class="label21">Publications</ion-label>
    <ion-input class="input21" type="number" placeholder="">1.6K</ion-input>
    
    <ion-label class="label3">URL</ion-label>
  <ion-input class="input3" type="url" placeholder="Veiller donner l'URL de votre site..."></ion-input>
  <ion-label class="label3">Description de votre site</ion-label>
  <ion-input class="input3" type="text" placeholder="Donner la description de votre site...."></ion-input>
    <h1 class="diffusion">Ajouter des fichier pour plus d'information sur le site</h1>
    
    <ion-card class="dowload">
      <ion-icon class="up" name="cloud-upload-outline"></ion-icon>
      <p class="tele">Télécharger un fichier</p>
      </ion-card> <br> 
      <p class="bas">Aider les autres en les diffusant sur votre site et les donnant de bon conseil dans le domaine de l'entreprenariat</p>
      
    <ion-button class="ajouter" color="primary">Ajouter</ion-button>
    <ion-button class="suprimer" color="danger">Suprimer</ion-button>


  </ion-card>
</ion-content>

