ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }
.tout{
    --background: #fff;
    margin: auto;
}
img{
    display: flex;
    margin: auto;
    width: 30%;
    height: 15%;
    margin-top: 14px;
}
h1 {
    position: relative;
    top: -6%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 42px;
text-align: center;

color: #000000;

}
.Connectez{
    position: relative;
    top: -10%;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #C4C4C4;
}
ion-label{
    position: relative;
    top: -10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    position: relative;
    left: 18px;
    /* identical to box height */

    text-align: center;

    color: #000000;
    // margin: auto;
}
ion-input{
    position: relative;
    top: -10%;
    // margin: auto;
    width: 90%;
    // margin: auto;
    left: 15px;
    display: flex;
    // justify-content: center;
    background: #FEFCFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.connexion{
    position: relative;
    top: -6%;
    background: #29B6F6;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;
margin: auto;
display: flex;
width: 60%;

}
// .mpo{
//     position: relative;
//     left: 38%;
//     font-family: 'Poppins';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 24px;
// /* identical to box height */

// text-align: center;

// color: #EA4335;

// }
.compte{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #616161;
}
.creer{
    position: relative;
    left: 38%;
    
    top: -6%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;
    color: #000000;
// top: -2px;
}
ion-icon{
    color: #29B6F6;
    // margin: auto;
    // display: flex;
}
.google{
    // margin: auto;
    // display: flex;
    // justify-content: start;
    position: relative;
    top: -6%;
    left: 25%;
    width: 10%;
    height: 10%;
}
.facebook{
    position: relative;
    top: -6%;
    left: 35%;
    margin: auto;
    // justify-content: center;
    width: 10%;
    height: 10%;
    // display: flex;
}
.github{
    position: relative;
    top: -6%;
    left: 45%;
    width: 10%;
    height: 10%;
    //  
    // justify-content: end;
    // display: flex;
}