<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="tout">
  <br>
  <img src="../../assets/Kilakodon 2.png" alt="">
  <h1>Enregistrer</h1>
  <p class="Connectez">Connectez-vous à votre compte</p>
   <ion-label>Nom d'utilisateur</ion-label>
   <ion-input placeholder="Nom d'utilisateur"></ion-input>
 
   <ion-label>Email</ion-label>
   <ion-input type="email" placeholder="Email"></ion-input>
   <ion-label>Mot de passe</ion-label>
   <ion-input type="password" placeholder="Mot de passe"></ion-input>
   <ion-label>Confirmer mot de passe</ion-label>
   <ion-input type="password" placeholder="Confirmer mot de passe"></ion-input>
   <!-- <ion-button class="mpo" fill="clear">Mot de passe oublié ?</ion-button> -->
 
   <ion-button class="connexion">Connexion</ion-button>
   <br><!-- <p class="compte">Vous n'avez pas de compte ?</p> -->
   <ion-button class="creer" fill="clear">Vous avez déjà un compte ?<br>
    Connexion</ion-button>
     <br>
 
    <a href="#"><ion-icon name="logo-google" class="google"></ion-icon></a> 
    <a href="#"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a> 
    <a href="#"><ion-icon name="logo-github" class="github"></ion-icon></a>
 
 
 </ion-content>
