ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }
  img{
    position: relative;
    top: 10%;
  }
  h1{
    font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
text-align: center;

color: #000000;
position: relative;
    top: 5%;
  }
  p{
    font-family: 'Urbanist';
font-style: normal;
font-weight: 200;
font-size: 15px;
line-height: 150%;
/* or 22px */

text-align: center;

color: #29B6F6;
position: relative;
    top: 4%;
  }
  .connexion{
    font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

/* White */

color: #FFFFFF;
margin: auto;
display: flex;
width: 50%;
position: relative;
    top: 5%;
  }