<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="tout">
  <br><br>
 <img src="../../assets/Kilakodon 2.png" alt="">
 <h1>Bienvenue sur<br>Ki-Lakodon </h1> <br>
 <p class="Connectez">Connectez-vous à votre compte</p>
 
  <ion-label>Email</ion-label>
  <ion-input type="email" placeholder="Email"></ion-input>

  <ion-label>Mot de passe</ion-label> <br>
  <ion-input type="password" placeholder="Mot de passe"></ion-input>
  <ion-button class="mpo" type="password" fill="clear">Mot de passe oublié ?</ion-button>
<br>
  <ion-button class="connexion" routerLink="/home">Connexion</ion-button>
  <!-- <p class="compte">Vous n'avez pas de compte ?</p> -->
 <br> <ion-button class="creer" fill="clear">Vous n'avez pas de compte ? <br>
    Créer maintenant</ion-button>
    <br>

    <a href="#"><ion-icon name="logo-google" class="google"></ion-icon></a>
    <a href="#"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a>
    <a href="#"><ion-icon name="logo-github" class="github"></ion-icon>
</a>

</ion-content>

