<!-- <ion-header>
  <ion-toolbar>
    <ion-title>listesite</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-icon class="ARROW" name="arrow-back-outline"></ion-icon>
  <ion-icon class="search" name="search-outline"></ion-icon>
  <ion-icon class="regle" name="options-outline"></ion-icon>
<ion-card class="card1">
  <p class="titree">Sites</p>
  <ion-button name="add" class="ajouter">
    <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
    add
  </ion-button>
</ion-card>
<ion-card class="card2">
  <ion-card class="card3">
   <a href="#"><ion-icon name="filter-outline"></ion-icon></a>
    <a href="#"><ion-icon name="search-outline"></ion-icon></a>
    <a href="#"><ion-icon name="create-outline"></ion-icon></a>
    <a href="#"><ion-icon name="trash-outline"></ion-icon></a>
  </ion-card>
  <!-- <ion-card class="card4">

  </ion-card> -->
</ion-card>
<p class="liste">Liste des sites Populaire</p>
<br><br>

<ion-card class="card5">
  <a class="nomsite" href="#">MaliJet</a> 
  <a href="#"> <img class="image" src="../../assets/logo_malijet.png" alt=""></a>
</ion-card>
<br>
<ion-card class="card5">
  <a class="nomsite" href="#">MaliJet</a> 
  <a href="#"> <img class="image" src="../../assets/logo_malijet.png" alt=""></a>
</ion-card>
<br>
<ion-card class="card5">
  <a class="nomsite" href="#">MaliJet</a> 
  <a href="#"> <img class="image" src="../../assets/logo_malijet.png" alt=""></a>
</ion-card>
<br>
<ion-card class="card5">
  <a class="nomsite" href="#">MaliJet</a> 
  <a href="#"> <img class="image" src="../../assets/logo_malijet.png" alt=""></a>
</ion-card>
<br>
<ion-card class="card5">
  <a class="nomsite" href="#">MaliJet</a> 
  <a href="#"> <img class="image" src="../../assets/logo_malijet.png" alt=""></a>
</ion-card>
</ion-content>

