ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }
  .card1{
    box-sizing: border-box;

    /* Auto layout */

    // display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0px;
    margin: auto;
    // justify-content: center;

    position: relative;
    width: 100%;
    height: 50px;
    // left: 0px;
    top: 61px;

    /* Gray Blue/Grey Blue 99 */

    background: #91979e62;
    /* Gray Blue/Grey Blue 96 */

    border-bottom: 0px solid #F2F3F5;
    border-radius: 20px 20px 0px 0px;
  }
  .ARROW{
    color: #29B6F6;
    border: 0px solid #FFFFFF;
  transform: rotate(0deg);
  box-sizing: border-box;
  
  position: absolute;
  width: 23px;
  
  left: 5px;
  top: 10px;
  
  }
  .search{
    color: #29B6F6;
    border: 0px solid #FFFFFF;
    transform: rotate(0deg);
    box-sizing: border-box;
  
    position: absolute;
    width: 23px;
    top: 10px;
   left: 210px;
  }
  .regle{
    color: #29B6F6;
    border: 0px solid #FFFFFF;
    transform: rotate(0deg);
    box-sizing: border-box;
  
    position: absolute;
    width: 23px;
    top: 10px;
    left: 230px;
  }
  .titree{
    width: 32px;
    height: 30px;

    /* Bold/Bold 14 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */


    /* Gray Blue/Grey Blue 70 */

    color: #29B6F6;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    left: 15px;
  }
  .ajouter{
    // display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 15px 3px 10px;
    // gap: 5px;

    width: 73px;
    height: 30px;

    /* button */

    // background: #29B6F6;
    /* Shadows/Purple/15%/30b */

    box-shadow: 0px 10px 30px rgba(136, 51, 255, 0.15);
    border-radius: 20px;

    /* Inside auto layout */

    // flex: none;
    // order: 0;
    // flex-grow: 0;
    position: relative;
    top: -50px;
    left: 65%;
}
.card2{
    position: relative;
    top: 80px;
    margin: auto;
    width: 85%;
    justify-content: center;
    display: flex;
    left: -10px;
    height: 42px;
    background: #29B6F6;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 30px;
}
.card3{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: relative;
    width: 124px;
    height: 30px;
    left: calc(50% - 124px/2 - 42px);
    // top: -10px;
    margin: auto;
    // left: -20px;

    /* Shadows/Gray Blue 30/3%/5b */

    filter: drop-shadow(0px 2px 5px rgba(38, 51, 77, 0.03));
    border-radius: 10px;
}
.card4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: relative;
    width: 54px;
    height: 30px;
    right: 96px;
    margin: auto;
    left: 5px;
    /* Shadows/Gray Blue 30/3%/5b */
    filter: drop-shadow(0px 2px 5px rgba(38, 51, 77, 0.03));
    border-radius: 10px;
}
ion-icon{
    padding: 5px;
    margin: auto;
}
.liste{
    position: relative;
    width: 220px;
    height: 33px;
    // left: 90px;
    top: 85px;
    text-align: center;
    margin: auto;
    justify-content: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 184%;
    /* or 33px */

    text-decoration-line: underline;

    color: #29B6F6;
}
.card5{
    position: relative;

    margin: auto;
    width: 85%;
    justify-content: center;
    display: flex;
    left: -10px;
    height: 15%;
    top: 60px;


    background: #FAFBFC;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.33);
    border-radius: 0px 30px;
}
.nomsite{
    position: relative;
    width: 74px;
    height: 26px;
    left: -60px;
    // top: 271px;
    justify-content: center;
    margin: auto;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 184%;
    /* or 33px */


    color: #29B6F6;

}
.image{
    position: absolute;
    width: 60%;
    height: 60%;
    left: 40%;
    top: 20px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.33));
}