<!-- <ion-header>
  <ion-toolbar>
    <ion-title>formulaire</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-icon class="ARROW" name="arrow-back-outline"></ion-icon>
  <ion-icon class="search" name="search-outline"></ion-icon>
  <ion-icon class="regle" name="options-outline"></ion-icon>
  <h1 class="entete">Formulaire d'Acceptation</h1>
  <p class="text">Remplissez le formulaire pour obtenir plus facilement vos sites de publicités.</p>
  <ion-input class="input" type="text" placeholder="Nom de l'entreprise"></ion-input><br>
  <ion-input class="input" type="text" placeholder="Domaine"></ion-input><br>
  <ion-input class="input" type="text" placeholder="Adresse"></ion-input><br>
  <ion-input class="input" type="number" placeholder="Code postal"></ion-input><br>
  <ion-input class="input" type="text" placeholder="Objectif viser"></ion-input><br>
  <ion-input class="input" type="text" placeholder="Description"></ion-input><br>
  <ion-input class="input" type="email" placeholder="email@gmail"></ion-input><br>
  <ion-input class="input" type="text" placeholder="Parlons de votre idée"></ion-input>
  <ion-card class="dowload">
    <ion-icon class="up" name="cloud-upload-outline"></ion-icon>
    <p class="tele">Télécharger un fichier</p>
    </ion-card>
    <br>
    <p class="p2">Pièce jointe. La taille de fichier de vos documents ne doit pas dépasser 10 Mo</p> <br>
    <br>
    <ion-item class="item">
      <ion-checkbox slot="start"></ion-checkbox>
      <p class="kk">Je veux protéger mes données en signant</p>
    </ion-item>
    <br>
    <ion-button class="send">Nous Faire Parvenir</ion-button>
    <br>
    <h1 class="ki">Ki-Lakodon</h1>
    <p class="info">
      Mali, Bamako
      <br>
      Rue: 350, Porte: 32 
      <br> <br>
      djireyoussouf1999@gmail.com
      <br> Youssouf Djire (Fondateur) <br>
      Numéro Tel : 72095772 / 68295253
    </p> <br> <br>
    <h1 class="newsletter">Vous souhaitez vous incrire à notre newsletter ?</h1>
    <ion-item class="email" fill="solid">
        <ion-label class="lab" position="floating">Email</ion-label>
        <ion-input class="inp" type="email" ngModel email></ion-input>
        <ion-icon class="true" name="checkmark-outline"></ion-icon>
      
        <!-- <ion-note slot="helper">Enter a valid email</ion-note> -->
        <!-- <ion-note slot="error">Invalid email</ion-note> -->
      </ion-item>

  </ion-content>

