<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 -->
 <ion-content>
  <ion-icon class="ARROW" name="arrow-back-outline"></ion-icon>
  <ion-icon class="search" name="search-outline"></ion-icon>
  <ion-icon class="regle" name="options-outline"></ion-icon>
  <h1>Dashboard Ki-Lakodon</h1>
  <p>Compte <br> Connectés <a href=""><ion-icon class="Add" name="add-circle-outline"></ion-icon></a></p>

  <ion-slides [options]="slideOpts " style="height: 30%!important;   width: 100%!important;">
    <ion-slide >
      <ion-card class="SITES">
        <p class="texthorizontale">Sites de Pub</p>
        <ion-icon class="add" name="add-outline"></ion-icon>
      </ion-card>
      <ion-card class="card-slides" size="2">
        <span>
          <img class="image" src="../../assets/mali-maliweb-malijet-maliactu-bamada-koulouba.png" alt="">
          <figcaption><a href="#" class="a" >Malijet.com</a></figcaption>
          <figcaption class="figcaption">Abonnés: 1,2M</figcaption>
        </span>
      </ion-card>
      <ion-card class="card-slides" size="2">
        <span>
          <img class="image" src="../../assets/mali-maliweb-malijet-maliactu-bamada-koulouba.png" alt="">
          <figcaption><a href="#" class="a" >Malijet.com</a></figcaption>
          <figcaption class="figcaption">Abonnés: 1,2M</figcaption>
        </span>
      </ion-card>
      <!-- <ion-card class="card-slides">
        <span>
          <img src="../../assets/logo.PNG" alt="">
          <figcaption><a href="#"  class="a" >Malijet.com</a></figcaption>
        </span>
      </ion-card> -->
      
    </ion-slide>
    <ion-slide >
      <ion-card class="card-slides" size="2">
        <span>
          <img class="image" src="../../assets/mali-maliweb-malijet-maliactu-bamada-koulouba.png" alt="">
          <figcaption><a href="#" class="a" >Malijet.com</a></figcaption>
          <figcaption class="figcaption">Abonnés: 1,2M</figcaption>
        </span>
      </ion-card>
      <ion-card class="card-slides" size="2">
        <span>
          <img class="image" src="../../assets/mali-maliweb-malijet-maliactu-bamada-koulouba.png" alt="">
          <figcaption><a href="#" class="a" >Malijet.com</a></figcaption>
          <figcaption class="figcaption">Abonnés: 1,2M</figcaption>
        </span>
      </ion-card>
      
    </ion-slide>
    
  </ion-slides>

  <ion-card class="css">
    <h1 class="text2">Les mises en rélation du effectuer</h1>
    <ion-card class="card2">
       <h2>Fana-Shop <ion-button class="b">voir plus</ion-button>
      </h2>
      <a href="#"><ion-icon  class="i" name="create-outline"></ion-icon></a>
      <a href="#"><ion-icon class="ii" name="trash-outline"></ion-icon></a>
       <p class="p2">Youssouf Djiré <br>
        N° de validation : 0989898989
        <br>
        ACI 2000, 541, Carré-Ni-N'Kou,
        <br>
        Prêt du Lycée, Lafiabougou 
      </p>
      <p class="P3">Téléphone : 72095772</p>
     
       
      
    </ion-card>
    
    <ion-card class="card2">
      <h2>Fana-Shop <ion-button class="b">voir plus</ion-button>
     </h2>
     <a href="#"><ion-icon  class="i" name="create-outline"></ion-icon></a>
     <a href="#"><ion-icon class="ii" name="trash-outline"></ion-icon></a>
      <p class="p2">Youssouf Djiré <br>
       N° de validation : 0989898989
       <br>
       ACI 2000, 541, Carré-Ni-N'Kou,
       <br>
       Prêt du Lycée, Lafiabougou 
     </p>
     <p class="P3">Téléphone : 72095772</p>
     
      
     
    </ion-card>

    <ion-card class="card2">
      <h2>Fana-Shop <ion-button class="b">voir plus</ion-button>
    </h2>
    <a href="#"><ion-icon  class="i" name="create-outline"></ion-icon></a>
    <a href="#"><ion-icon class="ii" name="trash-outline"></ion-icon></a>
      <p class="p2">Youssouf Djiré <br>
      N° de validation : 0989898989
      <br>
      ACI 2000, 541, Carré-Ni-N'Kou,
      <br>
      Prêt du Lycée, Lafiabougou 
    </p>
    <p class="P3">Téléphone : 72095772</p>
    
      
    
    </ion-card>
    <ion-card class="card2">
      <h2>Fana-Shop <ion-button class="b">voir plus</ion-button>
    </h2>
    <a href="#"><ion-icon  class="i" name="create-outline"></ion-icon></a>
    <a href="#"><ion-icon class="ii" name="trash-outline"></ion-icon></a>
      <p class="p2">Youssouf Djiré <br>
      N° de validation : 0989898989
      <br>
      ACI 2000, 541, Carré-Ni-N'Kou,
      <br>
      Prêt du Lycée, Lafiabougou 
    </p>
    <p class="P3">Téléphone : 72095772</p>

      
    
    </ion-card>
  
  </ion-card>

</ion-content>



